TABLE_PATIENTS=
TABLE_DOCTORS=
TABLE_MY_DOCTORS=
TABLE_PRACTICES=
TABLE_CONVERSION_TRIGGERS=
TABLE_PATIENTS_BY_PRACTICE=
TABLE_WHOLESALE_ORDERS=
TABLE_INSURANCES=
SHOPIFY_WEBHOOK_VERIFY_HASH=
SHOPIFY_WEBHOOK_VERIFY_HASH_RETAIL=
REFERSION_HOST=
REFERSION_GRAPHQL_HOST=
REFERSION_GRAPHQL_KEY=
REFERSION_PUBLIC_KEY=
REFERSION_SECRET_KEY=
SOBEFY_INTERNAL_KEY=
UPLOADS_BUCKET_NAME=